player-connection-mode=Listen
player-connection-guid=1996443258
player-connection-debug=0
player-connection-project-name=EverSeenATankFly
player-connection-ip=192.168.1.111
player-connection-ip=172.29.240.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=32bc13fc2735435b878edbec9a0a5952
